CompileFlags:
  Add:
    - "-std=c++20"
    - "-Wall"
    - "-x"
    - "c++"
  Remove:
    - "-x"
    - "-xc"

Index:
  Background: Build

Diagnostics:
  Suppress:
    - "cert-dcl37-c"
    - "cert-dcl51-cpp"
    - "bugprone-reserved-identifier"
    - "llvmlibc-inline-function-decl"
  #ClangTidy:
    #Add: "*"